body {
  height: 300px;
  margin: 0%;
  background-color: burlywood;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (60px)[3];
      grid-template-rows: repeat(3, 60px);
  height: 100px;
  padding: 5%;
  background-image: url(../imagenes/template2.jpg);
  background-size: 50%;
  background-position: center;
}

header .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .titulo h1 {
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}

header h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  background-color: burlywood;
  border-color: peru;
  border-style: solid;
}

.landing {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (fr)[2];
      grid-template-columns: repeat(2, fr);
  -ms-grid-rows: 368px;
      grid-template-rows: 368px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  border-color: burlywood;
  background-color: burlywood;
  border-style: solid;
  border-width: 10px;
}

.landing .dulces {
  background-image: url(../imagenes/dulce-wallpaper.jpg);
  background-position: center;
  background-size: cover;
  -ms-grid-column: 0;
      grid-column-start: 0;
  grid-column-end: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .saladas {
  background-image: url(../imagenes/salado-wallpaper.jpg);
  background-position: center;
  background-size: cover;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .landing-titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-color: peru;
  border-radius: 5px;
  border-width: 5px;
  border-style: solid;
}

.landing .landing-titles a {
  color: burlywood;
  list-style: none;
  text-decoration: none;
}

.RD {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: (60px)[3];
      grid-template-rows: repeat(3, 60px);
  height: 60px;
  padding: 5%;
  background-image: url(../imagenes/template2.jpg);
  background-size: 50%;
  background-position: center;
}

.RD .titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.RD .titulo h1 {
  font-size: 50px;
  font-family: 'Satisfy', cursive;
}

.RD h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-family: 'Caveat', cursive;
  font-size: 30px;
  background-color: burlywood;
  border-color: peru;
  border-style: solid;
}

.recetasdulces {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces p {
  font-family: 'Caveat', cursive;
  font-size: 1.5rem;
}

.recetasdulces .recetarioD {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (200px)[3];
      grid-template-columns: repeat(3, 200px);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  margin-top: 1%;
  width: 860px;
  row-gap: 20px;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.recetasdulces .recetarioD img {
  height: 200px;
  width: 200px;
}

.recetasdulces .recetarioD .div {
  width: auto;
}

.recetasdulces .recetarioD .TDM {
  -ms-grid-column: 0;
      grid-column-start: 0;
  grid-column-end: 1;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .CC {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .BDB {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .TT {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .GDVYC {
  -ms-grid-column: 0;
      grid-column-start: 0;
  grid-column-end: 1;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .GDQ {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .CCFR {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recetasdulces .recetarioD .GDV {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.box {
  width: auto;
}

.box :hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 65%;
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */